<h1>Company-wide Selections</h1>

 <% if policy(Post.new).create? %>
  <%= link_to "New Selection", new_post_path, class: 'btn btn-success' %>
 <% end %>

<% @posts.each do |post| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to post.selection, post %>
      </h4>
       <small>
         submitted <%= time_ago_in_words(post.created_at) %> ago by </small> <b> <%= post.user.name%> </b><br/>
       
    </div>
  </div>
<% end %>