 <div class="col-md-4">

<h1><%= @post.selection %></h1>
  <% if policy(@post).edit? %>
 <p><%= link_to "Edit", edit_post_path(@post), class: 'btn btn-success' %> </p>
  <% end %>
 <br>

  <p><%= link_to "Make New Selection", new_post_path(@topic), class: 'btn btn-success' %> </p>
  <br>

  <p><%= link_to "Delete Selection", @post, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this topic?' } %> </p>
   <br>  
  </div>